{% let variant %}{% if password %}{% let variant = "secondary" %}{% else %}{% let variant = "primary" %}{% endif %}{% let form = h::form_with(ctx.url(h::routes::sudo().as_str())).class("auth-form") %}{% filter form_with(form) %}
    {{ h::hidden_field_tag("verifier", Some("totp"), h::attrs()) }}
    <div class="field">
      {{ form.label("totp_code", "Authenticator code", h::attrs().class("field-label")) }}
      {{ form.text_field("totp_code", None, self.totp_options()) }}
    </div>

    {{ h::button_tag(h::attrs().class("button auth-wide").data("variant", variant).data("size", "lg").type_("submit").name("confirm"), "Confirm") }}
{% endfilter %}
