{#- reference/app/views/rooms/layouts/_edit.html.erb: page layout for editing a room; pages fill room_form -#}
{% extends "layouts/application.html" %}
{%- block head %}{% endblock %}

{%- block nav %}
  <div class="flex-item-justify-start">
    {{ h::link_back_to_last_room_visited(ctx) }}
  </div>
{%- endblock %}

{%- block content %}
<section class="panel txt-align-center" style="view-transition-name: edit-room-{{ self.room_id() }}">
  {% block room_form %}{% endblock %}
</section>

{%- if form.can_administer %}
  <section class="panel txt-align-center">
    {{ crate::rooms::button_to_delete_room(ctx, self.room_id(), form.room.display_name()) }}
  </section>
{%- endif %}
{%- endblock %}
