{%- if message.is_unrenderable() %}
  {% include "messages/_unrenderable.html" %}
{%- else %}
{{ crate::messages::message_open(ctx, message) }}
  <h2 class="message__day-separator">{{ message.timestamp("date", false) }}</h2>

{% if message.details.system_note %}    {% include "messages/_system_note.html" %}
{% else %}    <figure class="avatar message__avatar">
      {{ message.creator.avatar(ctx, h::attrs()) }}
    </figure>

    <turbo-frame id="{{ message.dom_id("edit") }}">
      <div class="message__body">
        <div class="message__body-content">
          {% include "messages/_toolbar.html" %}
          {% include "messages/_pin_badge.html" %}
          {% include "messages/_meta.html" %}
          {% include "messages/_streaming_indicator.html" %}
          {% include "messages/_context.html" %}
          {% include "messages/_presentation.html" %}
          {{ crate::messages::parts::steps(&message.details.agent_steps) }}
          {% if let Some(poll) = message.details.poll %}{{ crate::messages::parts::poll(ctx, poll) }}{% endif %}
          {% include "messages/_drive_attachments.html" %}
          {% if let Some(html) = message.components.github_cards_html %}{{ h::raw(html) }}{% else %}{{ crate::messages::cards(message, "github_pr_cards", "github-pr-cards", 0, &message.components.github_cards) }}{% endif %}
          {{ crate::twitter::cards(ctx, message) }}
          {{ crate::messages::event_cards(message) }}
          {{ crate::message_links::cards(ctx, message) }}
          {{ crate::messages::cards(message, "fizzy_cards", "fizzy-cards", 0, &message.components.fizzy_cards) }}
          {{ crate::messages::cards(message, "linkedin_cards", "linkedin-post-cards", 2, &message.components.linkedin_cards) }}
          {{ crate::messages::cards(message, "link_embed_cards", "link-embed-cards", 2, &message.components.link_embed_cards) }}
          {% include "messages/boosts/_boosts.html" %}
          {% include "messages/_thread_indicator.html" %}
        </div>
      </div>
    </turbo-frame>
{% endif %}</div>
{%- endif -%}
