{#- reference/app/views/rooms/closeds/_form.html.erb -#}
{%- filter room_form(ctx, form.room, form.can_administer, crate::messages::RoomKind::Closed) %}
{%- filter user_filter_menu_tag %}
    {%- if form.can_administer %}
      <li class="flex align-center gap margin-none">
        <figure class="avatar flex-item-no-shrink" style="--avatar-border-radius: 0; --avatar-size: 4ch;">
          <img aria-hidden="true" class="colorize--black" style="background-color: transparent" src="{{ ctx.asset("everyone.svg") }}" />
          <span class="for-screen-reader">Everyone</span>
        </figure>

        <div class="min-width">
          <div class="overflow-ellipsis fill-shade"><strong>Everyone</strong></div>
        </div>

        <hr class="separator" aria-hidden="true">

        <a class="btn--faux flex-inline" tabindex="-1" data-turbo-action="replace" href="{{ type_change_path }}">
          <label for="room_type" class="switch">
            <input type="checkbox" id="room_type" class="switch__input">
            <span class="switch__btn round"></span>
            <span class="for-screen-reader">Give everyone access to this room</span>
          </label>
</a>
      </li>

      <hr class="separator full-width" style="--border-style: solid">
    {%- endif %}

    {%- if form.selected_users.len() + form.unselected_users.len() > 20 %}
    {{ h::user_filter_search_tag() }}
    {%- endif %}

    <div data-filter-target="list" contents>
      {%- let selected = true %}
      {%- for user in form.selected_users %}
      {% include "rooms/closeds/_user.html" %}
      {%- endfor %}

      {%- if !form.selected_users.is_empty() && !form.unselected_users.is_empty() %}
        <hr class="separator full-width" style="--border-style: solid">
      {%- endif %}

      {%- let selected = false %}
      {%- for user in form.unselected_users %}
      {% include "rooms/closeds/_user.html" %}
      {%- endfor %}
    </div>
{% endfilter %}
{%- endfilter %}
