{% extends "layouts/application.html" %}
{%- block head %}{% endblock %}

{% block nav %}  <div class="flex-item-justify-start">
    {{ h::link_back_to_last_room_visited(ctx) }}
  </div>
{% endblock %}
{% block content %}

<section class="panel panel--wide flex flex-column gap">
  <h1 class="txt-align-center txt-large margin-none">Push Notification Subscriptions</h1>
  <div class="pad-inline fill-shade border-radius" id="push_subscriptions">
    <menu class="pad flex flex-column gap">
      {% for push_subscription in push_subscriptions %}{% include "users/push_subscriptions/_push_subscription.html" %}{% endfor %}
    </menu>
  </div>
</section>
{% endblock %}