<li id="directory_row_agent_{{ agent.id }}" class="agent-directory-row flex align-center gap">
  <span class="avatar flex-item--no-shrink" style="--avatar-size: 2.65em;">
    {{ h::avatar_tag_with_icon(ctx, agent.user.avatar(), agent.icon.as_ref(), h::attrs().loading("lazy")) }}
  </span>

  <div class="min-width flex-item-grow">
    <div class="overflow-ellipsis txt-large">
      {{ h::link_to(h::routes::user(agent.user.id).as_str(), h::attrs(), h::escape(&agent.user.name).as_str()) }}
    </div>
    <div class="overflow-ellipsis txt-small">{{ agent.kind_description }}</div>
    <div class="txt-small">
      {{ agent.badge(ctx, now)? }}
    </div>
    <div class="txt-small">
      {{ agent.last_seen(ctx, now) }}
    </div>
  </div>
</li>{{ "\n" }}
