<li class="flex flex-column gap flush fill-shade border-radius pad-block pad-inline-double">
  <div class="flex align-center gap">
    <span class="autocomplete__icon" style="font-size: 2em;">
      {{ h::image_tag(ctx, h::routes::workspace_icon(icon.name).as_str(), h::attrs().alt("").size(32).attr("loading", "lazy")) }}
    </span>

    <div class="min-width txt-align-start">
      <div class="overflow-ellipsis txt-large"><strong>{{ icon.title }}</strong> <code>:{{ icon.name }}:</code></div>
      <div class="overflow-ellipsis txt-small">
        Uploaded by {{ icon.creator_name }}
      </div>
    </div>

    {% filter button_to_form(h::routes::account_icon(icon.id).as_str(), h::attrs().method("delete").class("btn btn--negative flex-item-justify-end"), h::attrs().data("turbo_confirm", format!("Delete :{}:? Messages using it will show the literal shortcode.", icon.name))) %}
      {{ h::image_tag(ctx, "trash.svg", h::attrs().aria_hidden().size(20)) }}
      <span class="for-screen-reader">Delete :{{ icon.name }}:</span>
{% endfilter %}  </div>
</li>{{ "\n" }}