{#- reference/app/views/rooms/opens/_user.html.erb -#}
<li class="flex align-center gap margin-none" data-value="{{ user.name.to_lowercase() }}">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    {{ user.avatar(ctx, h::attrs().attr("loading", "lazy")) }}
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>{{ user.name }}</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">

{% if form.can_administer %}    <img class="colorize--black flex-item-no-shrink" aria-hidden="true" src="{{ ctx.asset("check.svg") }}" width="20" height="20" />
{% endif %}</li>{{ "\n" }}
