{% extends "layouts/application.html" %}
{% block head %}{% endblock %}
{% block nav %}  <div class="flex-item-justify-start">
    {{ h::link_back_to_last_room_visited(ctx) }}
  </div>
{% endblock %}
{% block content %}

<section class="panel txt-align-center" style="view-transition-name: edit-room-{{ self.room_id() }}">
  {% include "rooms/boards/_form.html" %}
</section>

{{ github.render() }}

{{ form.room.inbound_email_html(ctx, form.can_administer) }}

{% if form.can_administer %}  <section class="panel txt-align-center">
    {{ crate::rooms::button_to_delete_room(ctx, self.room_id(), form.room.display_name()) }}
  </section>
{% endif %}
{% if form.can_administer %}  <section class="panel txt-align-center">
    {{ h::link_to_text("Board automations", h::routes::board_automations(self.room_id()).as_str(), h::attrs().class("btn")) }}
  </section>
{% endif %}{% endblock %}
