{% extends "layouts/application.html" %}

{% block nav %}  <div class="flex-item-justify-start">
    {{ h::link_back(ctx) }}
  </div>

  <div class="flex align-center gap flex-item-justify-end">
{% if ctx.is_current_user(user.id) %}      {% filter link_to(h::routes::user_profile(), h::attrs().class("btn")) %}
        {{ h::image_tag(ctx, "pencil.svg", h::attrs().aria_hidden()) }}
        <span class="for-screen-reader">Edit my profile</span>
{% endfilter %}{% endif %}  </div>
{% endblock %}
{% block content %}<section class="panel txt-align-center">
  <div class="flex flex-column gap {% if user.banned() %}banned{% endif %}">
    <div class="avatar txt-xx-large center" style="background: white">
      {{ h::image_tag(ctx, user.avatar_path.as_str(), h::attrs().alt("Profile avatar").class("avatar")) }}
    </div>

{% if user.bot() %}      <div class="pad-double--inline push--inline push--block-start">
{% if user.active() %}          {{ h::button_to_direct_room_with(ctx, user.id, &user.name) }}
{% else %}          <div>{{ user.name }} is no longer on this account</div>
{% endif %}      </div>
{% else %}{% if !user.deactivated() %}        <div class="flex flex-column gap" style="--row-gap: calc(var(--block-space) / 3)">
          <h1 class="txt-x-large txt-tight-lines margin-none">{{ user.name }}</h1>
{% if ctx.can_administer() %}            <div>{{ h::mail_to(user.email_address.as_deref().unwrap_or_default()) }}</div>
{% endif %}          <div>{{ user.bio.as_deref().unwrap_or_default() }}</div>
        </div>

{% if user.active() %}          <div class="pad-inline-double margin-inline margin-block-start">
            {% filter button_to(h::rooms_directs_with_user(user.id), h::attrs().class("btn btn--reversed full-width txt-large").aria("label", "Message " ~ user.name)) %}
              {{ h::image_tag(ctx, "messages.svg", h::attrs().aria("hidden", "true")) }}
{% endfilter %}          </div>

{% if ctx.can_administer() %}            <hr class="margin-block-start borderless">

            {% include "users/profiles/_transfer.html" %}
{% endif %}{% endif %}
{% if ctx.can_administer() && !ctx.is_current_user(user.id) %}          <div class="margin-block-start">
            {% include "users/_ban_button.html" %}
          </div>
{% endif %}{% else %}        <div>
          <h1 class="txt-x-large margin-none">{{ user.name }}</h1>
          <div>{{ user.name }} is no longer on this account</div>
        </div>
{% endif %}{% endif %}  </div>
</section>
{% endblock %}
