{% if !searches.is_empty() %}  <div class="searches__recents-header">
    <h2 id="search-recents-title" class="searches__recents-title">Recent searches</h2>
    {% filter button_to_form(h::routes::clear_searches(),h::attrs().method("delete").class("btn searches__clear").aria("label","Clear recent searches"),h::attrs().data("turbo_confirm","Are you sure you want to clear your recent searches?")) %}
      {{ h::image_tag(ctx,"broom.svg",h::attrs().size(16).aria("hidden","true").class("colorize--black")) }}
      <span>Clear</span>
{% endfilter %}  </div>
  <ul class="searches__recents" aria-labelledby="search-recents-title">
{% for search in searches %}      <li>
        {% filter link_to(crate::searches::search_path(&search.query).as_str(),h::attrs().class("searches__recent")) %}
          {{ h::image_tag(ctx,"search.svg",h::attrs().size(14).aria("hidden","true").class("colorize--black")) }}
          <span class="overflow-ellipsis">{{ search.query }}</span>
{% endfilter %}      </li>
{% endfor %}  </ul>{{ "\n" }}{% else %}  <p class="searches__recents-empty">No recent searches yet.</p>{{ "\n" }}{% endif %}
