{% extends "layouts/application.html" %}
{%- block head %}{% endblock %}

{% block nav %}  <div class="flex-item-justify-start">
    {{ h::link_back_to(ctx, h::routes::account_bots()) }}
  </div>
{% endblock %}
{% block content %}<section class="panel" style="view-transition-name: chat-bot-{{ bot_id }}">
{% let form = h::form_with(h::routes::account_bot(bot_id)).model("user").method("patch").class("flex flex-column gap") %}  {% filter form_with(form) %}
    {% include "accounts/bots/_form.html" %}
{% endfilter %}
  <hr class="separator full-width margin-block-double">

  <div class="flex align-center gap justify-space-between">
    {% filter button_to(h::routes::account_bot(bot_id), h::attrs().method("delete").class("btn txt--small btn--negative").aria("label", "Delete this chat bot").data("turbo_confirm", "Are you sure you want to permanently remove this bot from the account? This can’t be undone.")) %}
      {{ h::image_tag(ctx, "trash.svg", h::attrs().aria_hidden().size(20)) }}
      {{ h::image_tag(ctx, "bot.svg", h::attrs().aria_hidden().size(20)) }}
{% endfilter %}
    {% filter button_to(h::routes::account_bot_key(bot_id), h::attrs().method("put").class("btn full-width txt--small btn--negative").aria("label", "Generate a new key").data("turbo_confirm", "Are you sure you want to change the bot key? All usage of this bot must be updated.")) %}
      {{ h::image_tag(ctx, "refresh.svg", h::attrs().aria_hidden().size(20)) }}
      {{ h::image_tag(ctx, "key.svg", h::attrs().aria_hidden().size(20)) }}
{% endfilter %}  </div>
</section>
{% endblock %}