{% if card.usable() %}  <article class="link-embed-card">
    <div class="link-embed-card__body">
{% if let Some(site) = card.site_name() %}        <p class="link-embed-card__site">{{ site }}</p>
{% endif %}{% if let Some(title) = card.title() %}        <p class="link-embed-card__title">
          <a target="_blank" rel="nofollow noopener noreferrer" href="{{ card.url }}">{{ title }}</a>
        </p>
{% endif %}{% if let Some(description) = card.description() %}        <p class="link-embed-card__description">{{ description }}</p>
{% endif %}    </div>
{% if let Some(image) = card.image() %}      <a target="_blank" rel="nofollow noopener noreferrer" class="link-embed-card__image-link" tabindex="-1" aria-hidden="true" href="{{ card.url }}">
        <img alt="" loading="lazy" class="link-embed-card__image" src="{{ image }}" />
</a>{% endif %}  </article>
{% endif -%}
